@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000322;
    --foreground: #58e6ff;
    font-size: 1.1rem;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
